.postListComponent {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  margin: auto;
  max-width: 45rem;
  height: 20rem;
  .postTitle {
    padding: 1rem;
    margin: auto;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media screen and (min-width: 650px){
    padding: 4rem 0;
  }
}

